@model hashi_project.Models.Employee
<!-- Define the display format for each employee item -->
<div>
    <p>@Model.Name @Model.Surname</p>
    <p>@Model.BirthDate</p>
    <p>@Model.Position</p>
</div>
